@import "variab";

*{
  font-family: $font-family;
  color: $base-color;
}

body{
  font-size: 14px;
}

p{
  margin: 8px 0;
}

.pos-relative{
  position: relative;
}

.accent-color{
  color: $accent-color;
}

.pad-left{
  padding-left: 22px !important;
}

[class*="col"]{
  &:last-child{
    padding-right: 0;
  }
  &:first-child{
    padding-left: 0;
  }
}